<div class="page-wrapper">

  <div class="page-header">
    <h1><a ui-sref="home"><img class="logo-img" src="images/logo.png" /></a> Log In</h1>
  </div>
  <div ng-show="authCtrl.error">
    <span>{{ authCtrl.error.message }}</span>
  </div>
  <form ng-submit="authCtrl.login()">
    <div class="input-group">
      <input type="email" ng-model="authCtrl.user.email" class="form-control" placeholder="Email">
    </div>
    <div class="input-group">
      <input type="password" ng-model="authCtrl.user.password" class="form-control" placeholder="Password">
    </div>
    <input type="submit" class="btn btn-default" value="Log In">
  </form>

</div>
